
.footer {
  text-align: center;
  font-weight: bold;
  padding: 0.75rem;
  background-color: #4C1D95; 
  color: #FFFFFF;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
  margin-top: auto;
}